.App {
  text-align: center;
  background-color: black;
}

.sidenav {
  position: fixed;
  width: 15%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 1%;
  background-color: #262626;
}

.sidenav-link {
  text-decoration: none !important;
  font-size: 2em;
  color: #e6e6e6 !important;
}

.sidenav-link-container {
  margin-top: 5%;
}

.open-nav {
  font-size: 2em;
  margin: 20px;
  cursor: pointer;
  float: left;
}

.close-nav {
  background-color: inherit;
  border: none;
  float: right;
  padding: 15px;
}

.close-symbol {
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.main {
  background-color: #0d0d0d;
  height: 100vh;
  text-align: center;
  color: #e6e6e6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
